<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <form data-persist="garlic" method='post'>
    <p class='warning'><input type='text', name='gitCommand', placeholder='type git command', value='git clone'/>
      <input type="url" value="http://" name='link' placeholder='link' size='35'/>
     <%if (errorMessages.gitCommand){%> <%= errorMessages.gitCommand %> <% } %> 
      <%if (errorMessages.linkMsg){ %> <%= errorMessages.linkMsg %> <% } %>
     </p>
    <select name="targetLanguage" id="targetLanguage">
      <option value="java">java</option>
      <option value="php">php</option>
      <option value="js-sonar">js sonar</option>
      <option value="js-plato">js plato</option>
    </select>
    <p class='warning' ><input type='text' name='javaBuildCommand' id='javaBuildCommand' placeholder='java build  command' />
      <input type='text' name='sources' placeholder='location of sources' value='src' />
    <%if (errorMessages.javaBuildCommand){ %> <%= errorMessages.javaBuildCommand %> <% } %>
    <%if (errorMessages.sourcesMsg){ %> <%= errorMessages.sourcesMsg %> <% } %>
    
    </p>
    <p class='warning' ><input type='text' name='binaries', placeholder='location of complied classes' />
    <%if (errorMessages.binariesMsg){ %> <%= errorMessages.binariesMsg %> <% } %> 
    </p>

     
     <!--
     <h2>choose language.</h2>
    <div class="languagebox"><div data-lang="js" title="JavaScript" class="language"><div class="icon-prog-js01"></div><p>JavaScript</p></div><div data-lang="java" title="Java" class="language"><div class="icon-prog-java"></div><p>Java</p></div><div data-lang="php" title="Php" class="language"><div class="icon-prog-php"></div><p>Php</p></div>
-->
    <p class="formfield">
      <label for='textarea'> files to ignore: </label> 
      <textarea id='textarea', type'text', rows="5", cols="20", name='filesToOmit'/> <%= jsFilesToOmit %> </textarea></p>
    <p><input type='submit', value='start analysis'/></p>

    </form>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/inputForm.js"></script>
    <script src="js/garlic.js"></script>


  </body>
</html>