<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <form method='post'>
    <p class='warning'>
      <input type='text' name='gitCommand' placeholder='type git command' value='git clone' required data-project='<%= previousValues.gitCommand %>' />
      <input type="url" value="http://" name='link' placeholder='link' size='35'
      require data-project='<%= previousValues.link %>'
      />
    <%if (errorMessages.gitCommand){%> <%= errorMessages.gitCommand %> <% } %> 
    <%if (errorMessages.linkMsg){ %> <%= errorMessages.linkMsg %> <% } %>

     </p>
     <p name='analysisTool' data-project='<%= previousValues.analysisTool %>'/>
      
    <select name="targetLanguage" id="targetLanguage" require data-project='<%= previousValues.language %>'>
      <option value="java">java</option>
      <option value="php">php</option>
      <option value="js-sonar">js sonar</option>
      <option value="js-plato">js plato</option>
    </select>
    <p class='warning' ><input type='text' name='javaBuildCommand' id='javaBuildCommand' placeholder='java build  command' data-project='<%= previousValues.javaBuildCommand %>' />
      <input type='text' name='sources' placeholder='location of sources' value='src' 
      require data-project='<%= previousValues.sources %>'
      />
    <%if (errorMessages.javaBuildCommand){ %> <%= errorMessages.javaBuildCommand %> <% } %>
    <%if (errorMessages.sources){ %> <%= errorMessages.sources %> <% } %>
    
    </p>
    <p class='warning' ><input type='text' name='binaries', placeholder='location of complied classes'
    data-project='<%= previousValues.binaries %>'/>
    <%if (errorMessages.binaries){ %> <%= errorMessages.binaries %> <% } %> 
    </p>
     <!--
     <h2>choose language.</h2>
    <div class="languagebox"><div data-lang="js" title="JavaScript" class="language"><div class="icon-prog-js01"></div><p>JavaScript</p></div><div data-lang="java" title="Java" class="language"><div class="icon-prog-java"></div><p>Java</p></div><div data-lang="php" title="Php" class="language"><div class="icon-prog-php"></div><p>Php</p></div>
-->
    <div class="formfield">
      <label for='textarea'> files to ignore: </label> 
      <textarea id='textarea', type'text', rows="5", cols="20", name='filesToOmit'
        data-project='<%= previousValues.filesToOmit %>'/><%= jsFilesToOmit %> </textarea>
    <!--  <div class='questionMark'/>
    </div>
    <div class='exclusionRules'/>-->
    <p><input type='submit', value='start analysis'/></p>

    </form>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/inputForm.js"></script>
   

  </body>
</html>